In [ ]:
#Write a python program to calculate the area of a rectangle given its length and width
l=int(input("Enter the length:"))
w=int(input("Enter the width:"))
A=l*w
print(A)

Enter the length:4
Enter the width:6
24

In [ ]:
#Create a program that takes two numbers from the user and calculates their sum,difference,product and quotient.
a=int(input("Enter you first number:"))
b=int(input("Enter your second number:"))
sum=a+b
print(sum)

Enter you first number:4
Enter your second number:3
7

In [ ]:
dif=a-b
print(dif)

1

In [ ]:
pro=a*b
print(pro)

12

In [ ]:
quo=a//b
print(quo)

1

In [ ]:
#Create a program to convert temperature from farenheit to celsius and vice versa,based on user input
F=int(input('Enter the temperature in farenheit:'))
t1=5/9*(F-32)
print(t1)

Enter the temperature in farenheit:100
37.77777777777778

In [ ]:
C=int(input("Enter the temperature in celsius:"))
t2=(C*(9/5))+32
print(t2)

Enter the temperature in celsius:35
95.0

In [ ]:
#Implement a program that checks if a given number is positive,negative or zero
h=int(input("Enter your number:"))
if (h>0):
    print("positive")
elif (h==0):
    print("Zero")
else:
    print("negative")

Enter your number:5
positive

In [ ]:
#Write a python program function that determines if a year is a leap year,taking into account leap year rules.
#a)A leap year is a leap year if it is divisible by 4,except for years that are divisible by 100.
#b)However,years divisible by 400 are also leap years.
y=int(input("Enter your year:"))
n=y
if(y%4==0 and y%100!=0 or y%400==100):
  print(n,"Leap year")
else:
  print(n,"Not a leap year")

Enter your year:2004
2004 Leap year

In [40]:
#Create a program that categorise a given student's grade(A,B,C,D or F)based on their numerical score.Given below is grading scale.
#A:90-100
#B:80-89
#C:70-79
#D:60-69
#F:0-59
S=int(input("Enter your score:"))
if(100>S and S>=90):
  print("A")
elif(80>S and S>=89):
  print('B')
elif(70>S and S>=79):
  print("C")
elif(60>S and S>=69):
  print("D")
else:
  print("F")

Enter your score:50
F

In [ ]:
#Write a python loop to print numbers from 10 to 1.
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Write a program that prints all the even numbers from 1 to 20 using a for loop
for i in range(2,20,2):
 print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
#Write a program that generates and prints the multiplication table for a given number.For example,if the user enters 5,the program should print the table of 5(5×1,5×2,5×3,...,5×10)
M=int(input("Enter your number:"))
count=0
print("The multiplication table of:M")
for count in range(1,11):
  print(M,'x',count,'=',M*count+1)

Enter your number:5
The multiplication table of:M
5 x 1 = 6
5 x 2 = 11
5 x 3 = 16
5 x 4 = 21
5 x 5 = 26
5 x 6 = 31
5 x 7 = 36
5 x 8 = 41
5 x 9 = 46
5 x 10 = 51